<form>
    <div class="row">
        <div class="col-3" style="border: solid 2px ;">
            <mat-nav-list>
                <a mat-list-item href="#" ><mat-icon class="right-icon-spacer">people</mat-icon> User1 </a>
                <a mat-list-item href="#" ><mat-icon class="right-icon-spacer">people</mat-icon> User2 </a>
                <a mat-list-item href="#" ><mat-icon class="right-icon-spacer">people</mat-icon> User3 </a>
             </mat-nav-list>
        </div>
        <div class="col-9" style="border: solid 9px ;">

            <form class="example-form">
                <mat-form-field  style="margin-left: 3em;" >
                  <input matInput placeholder="Write a message....">
                </mat-form-field>
                
              </form>
        </div>
    </div>
</form>
