<!-- 
 <div class="col-3">
    <mat-nav-list *ngFor="let p of folders">
        <mat-card style="padding: 0%; border-radius: 0%;">
            <a mat-list-item href="#">
                <mat-icon>account_circle</mat-icon> {{p.name}}
            </a>
        </mat-card>
    </mat-nav-list>
</div>


<form>
    <div class="row">
       
        <div class="col-9">

            <div>
                <mat-list>
                    <mat-list-item>
                        <img matListAvatar src="https://placekitten.com/100/100" alt="avatar">
                        <h3 matLine> {{message.from}} </h3>
                            <p matLine>
                                <span> {{message.subject}} </span>
                                <span class="demo-2"> -- {{message.content}} </span>
                            </p>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    
    
    
    <form class="example-form">
        <button mat-raised-button color="primary">
            <mat-icon>mail</mat-icon>SEND
        </button>
        <mat-form-field style="margin-left: 1em;width: 50em;">
            <input matInput placeholder="Write a message....">
        </mat-form-field>
    </form>
</form> -->



<mat-card class="mat-elevation-z0" style="padding: 0;">
    <div class="message-container">
        <div class="recipient">
            <header>
                <h3>Messages</h3>
                <button mat-icon-button>
                    <mat-icon>more_vert</mat-icon>
                </button>
            </header>
            <mat-list style="padding-top: 0;">
                <mat-list-item matRipple>
                    <img matListAvatar src="https://placekitten.com/200/300" alt="...">
                    <h3 matLine> Owen Jasper Vargas </h3>
                    <p matLine>
                        <span style="color: gray; font-size: small;"> We want to keep you safe whenever you’re online.
                            That’s why everything
                            we make is protected with powerful built-in security technologies that help detect and block
                            threats
                            before they ever reach you. </span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>

        <div class="message-box">
            <header>
                <h3 style="font-weight: 500;">Owen Jasper Vargas</h3>
                <button mat-icon-button>
                    <mat-icon>help_outline</mat-icon>
                </button>
            </header>
            <section class="discussion">
                <div class="bubble recipient">Offers of cures, test kits, hand sanitizer or face masks that never
                    arrive.</div>
                <div class="bubble sender">We want to keep you safe whenever you’re online. That’s why everything
                    we make is protected with powerful built-in security technologies that help detect and block threats
                    before they ever reach you.
                </div>
            </section>

            <div class="chat-box">
                <div class="form-group commentbox">
                    <input name="commentbox" type="text" class="form-control form-control-sm comment-input"
                        placeholder="Chat Message">
                    <button color="primary" type="submit" mat-icon-button>
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>